*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:1.875rem;
    padding-bottom: 0.938rem;
    border-bottom: 1px solid var(--border-color);
    margin: 1.25rem;
}

h1{
    color: var(--primary-color);
    margin: 0;
}

.btn-controller{
    display: flex;
    align-items: center;
    gap:1.5rem;
}

#toggle-btn , #expense-btn{
    background: var(--primary-color);
    border: none;
    color: #ffffff;
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s;
}

#expense-btn:hover{
    background: var(--secondary-color);
}

#toggle-btn:hover{
    background: var(--secondary-color);
}

